<!DOCTYPE html>
<html Lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>1° MVT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h1>La Familia Rodriguez Cabral</h1>

    <h3>1</h3>
    <p> Nombre = {{ Nombre }}</p>
    <p> Apellido = {{ Apellido }}</p>
    <p> Quien es = {{ Parentesco }}</p>
    <p> Edad = {{ Edad }}</p>
    <p> Fecha de nacimiento = {{ FechaDeNacimiento }}</p>

    <h3>2</h3>
    <p> Nombre = {{ Nombre2 }}</p>
    <p> Apellido = {{ Apellido2 }}</p>
    <p> Quien es = {{ Parentesco2 }}</p>
    <p> Edad = {{ Edad2 }}</p>
    <p> Fecha de nacimiento = {{ FechaDeNacimiento2 }}</p>

    <h3>3</h3>
    <p> Nombre = {{ Nombre3 }}</p>
    <p> Apellido = {{ Apellido3 }}</p>
    <p> Quien es = {{ Parentesco3 }}</p>
    <p> Edad = {{ Edad3 }}</p>
    <p> Fecha de nacimiento = {{ FechaDeNacimiento3 }}</p>

    <h3>4</h3>
    <p> Nombre = {{ Nombre4 }}</p>
    <p> Apellido = {{ Apellido4 }}</p>
    <p> Quien es = {{ Parentesco4 }}</p>
    <p> Edad = {{ Edad4 }}</p>
    <p> Fecha de nacimiento = {{ FechaDeNacimiento4 }}</p>

</body>
</html>